<div class="container">
  <div class="row row-cols-3 mt-5">
    <div>
      <div class="card mt-5" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cats</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-danger">More</a>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card mt-5" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dogs</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-danger">More</a>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card mt-5" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2018/05/24/17/35/parrots-3427188__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Birds</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-danger">More</a>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card mt-5" style="width: 18rem;">
        <img src="https://media.istockphoto.com/id/1318629326/photo/a-beautiful-brown-horses-in-the-farm-during-the-sunrise.jpg?b=1&s=170667a&w=0&k=20&c=5jothqMSeRicJZZaxgFnrLgz_SonZfdBihAYpzfNgZ4=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Horse</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-danger">More</a>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card mt-5" style="width: 18rem;">
        <img src="https://media.istockphoto.com/id/1212071081/photo/image-of-different-species-of-goods-in-pet-store.jpg?b=1&s=170667a&w=0&k=20&c=03Y19uqKO6Fo4rzleutLn9Z1ZIE8WuQOTpYYsmIkeRU=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-danger">More</a>
          <a href="#" class="btn btn-success">Buy</a>
        </div>
      </div>
    </div>


  </div>
</div>
